@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Sawarabi+Mincho&display=swap");
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: "Merriweather", "Sawarabi Mincho", sans-serif;
}

.explanation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
  overflow-y: hidden;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
  visibility: hidden;
}

.explanation.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}

.explanation .explanation-content {
  position: absolute;
  top: 20%;
  left: 10%;
}

@media screen and (min-width: 600px) {
  .explanation .explanation-content {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.explanation .explanation-content p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 8px;
}

@media screen and (min-width: 600px) {
  .explanation .explanation-content p {
    font-size: 2rem;
  }
}

.explanation .explanation-content p span {
  color: #c92121;
}

.nav {
  position: fixed;
  right: 5%;
  top: 5%;
  width: 45px;
  height: 45px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  z-index: 2;
}

@media screen and (min-width: 600px) {
  .nav {
    cursor: pointer;
  }
}

.nav .nav-inner {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
}

.nav .nav-text {
  position: absolute;
  bottom: 15%;
  left: 4px;
  width: 80%;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #cc8989;
  text-align: center;
  padding: 8px;
  font-style: italic;
  margin-bottom: 32px;
  margin-top: 24px;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }
}

.addition {
  text-align: center;
  margin-bottom: 32px;
}

.addition label {
  display: block;
  margin-bottom: 8px;
  font-size: 2.5rem;
  color: #cc8989;
  font-weight: 700;
}

.addition input {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 1.8rem;
}

@media screen and (min-width: 600px) {
  .addition input {
    width: 50%;
    max-width: 300px;
  }
}

.addition textarea {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 1.8rem;
}

@media screen and (min-width: 600px) {
  .addition textarea {
    width: 50%;
    max-width: 300px;
  }
}

.addition button {
  display: block;
  margin: 0 auto;
  width: 70px;
}

@media screen and (min-width: 600px) {
  .addition button {
    width: 100px;
  }
}

ul {
  width: 100%;
  text-align: center;
}

ul li {
  display: block;
  font-size: 2.2rem;
  padding: 8px;
  color: #333;
  border-bottom: 1px solid #5ac6e7;
}

li.done {
  color: #e02f2f;
  position: relative;
}

li.done::before {
  content: "済";
  position: absolute;
  left: 5%;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

li.done .detailButton {
  opacity: 1;
  color: #333;
}

li.done .doneButton {
  opacity: 1;
  color: #333;
}

.detailButton {
  display: inline-block;
  width: 70px;
  margin-left: 10px;
  border: 2px solid #333;
  padding: 2px;
}

@media screen and (min-width: 600px) {
  .detailButton {
    cursor: pointer;
  }
}

.doneButton {
  display: inline-block;
  width: 70px;
  margin-left: 10px;
  border: 2px solid #333;
  padding: 2px;
}

@media screen and (min-width: 600px) {
  .doneButton {
    cursor: pointer;
  }
}

.list {
  width: 90%;
  margin: 0 auto;
  min-height: 500px;
}

.list p {
  width: 90%;
  height: 0px;
  margin: 0 auto;
  margin-top: 5px;
  color: #333;
  font-size: 1.8rem;
  padding: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.list p.active {
  min-height: 30px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
  padding: 8px;
}
/*# sourceMappingURL=style.css.map */